<html>
<head>
<link href="/resources/style.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
		function submithf1(id){
			document.forms["hf1"]["FieldId"].value = id;
			document.forms["hf1"].submit();
		}

		$(document).ready(function(){
			 $(document).ajaxStart(function(){
		        $("#wait").css("display", "block");
		    });
		    $(document).ajaxComplete(function(){
		        $("#wait").css("display", "none");
    		});

		    $("#pingButton").click(function(e){
		    	e.preventDefault();
				$.get("/pingAsyncErpEntry/{{.Id}}", function(data, status){
				 	$("#pingContent").html(data);
				});
		    });


			$("#pingButtonFields").click(function(e){
				e.preventDefault();
				$.get("/erpListFields/{{.Id}}", function(data, status){
					$("#pingContentFields").html(data);
				});
			});


		});




	</script>
</head>
<body>

<h1>Edit an ERP Entry:</h1>

[<a href="/erpentries/">Entries</a>]

	<p>
	Id: {{.Id}}<br>
	ErpId: {{.ErpId}}<br>
	TechnicalName: {{.TechnicalName}}<br>
	VisibleName: {{.VisibleName}}<br>

	<form id="myForm" action="/updateErpEntry/" method="POST">
		<input type="hidden" value="{{.Id}}" name="Id" />
		<table>
			<tr class="commonBlock">
				<td>VisibleName</td>
				<td><input name="Name" size="25" maxlength="25" value="{{printf "%s" .VisibleName}}"/></td>
			</tr>
			<tr class="commonBlock">
				<td>Block Size</td>
				<td><input name="BlockSize" size="25" maxlength="25" value="{{printf "%d" .BlockSize}}"/></td>
			</tr>
		<table>
		<div>
			<input type="submit" value="Save">
		</div>
	</form>



<h1>Synchronized fields:</h1>

	<table>
		<tr>
			<th>CreationDate</th>
			<th>UpdateDate</th>
			<th>TechnicalName</th>
			<th>JsonName</th>
			<th>EntryPk</th>
			<th>Decorators</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	{{range .SyncFields}}
		<tr>
			<td align="center">{{.CreatedAt}}</td>
			<td align="center">{{.UpdatedAt}}</td>
			<td align="center">{{.TechnicalName}}</td>
			<td align="center">{{.JsonName}}</td>
			<td align="center">{{if .EntryPk}} Y {{else}} N {{end}}</td>
			<td align="center">{{.NbDecorator}}</td>
			<td align="center"><a href="/editSyncField/{{.Id}}"><img src="/resources/edit.png" alt="edit" style="width:20px;height:20px"></a></td>
			<td align="center"><a href="javascript:submithf1('{{.Id}}');"><img src="/resources/delete.png" alt="delete" style="width:20px;height:20px"></a></td>
		</tr>
	{{end}}
	</table>

	<P>

	<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='/resources/loading.gif' width="64" height="64" /><br>Loading..</div>

	<button id="pingButton">Ping</button>
	<p id="pingContent"></p>


	<button id="pingButtonFields">Fields</button>
	<p id="pingContentFields"></p>


	<form name="hf1" action="/deleteSyncField/" method="POST">
		<input type="hidden" value="{{.Id}}" name="EntryId" />
		<input type="hidden" value="" name="FieldId" />
	</form>

</body>
</html>