<html>
<head>
<link href="/resources/style.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>

		$(document).ready(function(){
			 $(document).ajaxStart(function(){
		        $("#wait").css("display", "block");
		    });
		    $(document).ajaxComplete(function(){
		        $("#wait").css("display", "none");
    		});

		    $("#pingButton").click(function(e){
		    	e.preventDefault();
				$.get("/erpListTables/{{.Id}}", function(data, status){
				 	$("#pingContent").html(data);
				});
		    });

		});
	</script>

</head>

<body>
<h1>Edit an ERP Entry against "Mysql":</h1>

<P>
	The URL format must be : <b>"user:password@tcp(localhost:3306)/schema"</b>
<P>

	<form name="myForm" action="/updateMySQL/" method="POST">
	<input type="hidden" value="{{.Id}}" name="Id" />
	<table>
		<tr class="commonBlock">
			<td>Name</td>
			<td><input name="Name" size="25" maxlength="25" value="{{printf "%s" .VisibleName}}"/></td>
		</tr>
		<tr class="commonBlock">
			<td>Url</td>
			<td><input name="Value" size="100" maxlength="100" value="{{printf "%s" .Value}}"/></td>
		</tr>
	<table>
	<div>
		<input type="submit" value="Save">
	</div>


	<p id="pingContent"></p>
	<button id="pingButton">Tables</button>

</form>
</body>
</html>