	<script>
		function submitCreateErpEntry(name){
			document.forms["myHiddenFormCreateErpEntry"]["SourceName"].value = name;
			document.forms["myHiddenFormCreateErpEntry"].submit();
		}
	</script>




{{if .HasSources}}
<table>
	<tr>
		<th>Name</th>
		<th>Used</th>
		<th>Create Erp Entry</th>
	</tr>
	{{range .Sources}}
		<tr>
			<td align="center">{{.Name}}</td>
			<td align="center">{{.Used}}</td>
			<td align="center"><a href="javascript:submitCreateErpEntry('{{.Name}}');"> >> </a></td>
		</tr>
	{{end}}
</table>
{{else}}

<h1>Enter the source name:</h1>
<form action="/createErpEntry/" method="POST">
	<input type="hidden" value="{{.Id}}" name="Id" />
	<td><input name="SourceName" size="25" maxlength="25"/></td>

	<div>
		<input type="submit" value="create">
	</div>
</form>


{{end}}

<form name="myHiddenFormCreateErpEntry" action="/createErpEntry/" method="POST">
		<input type="hidden" value="{{.Id}}" name="Id" />
		<input type="hidden" value="" name="SourceName" />
	</form>

