<html>
<head>
	<link href="/resources/style.css" rel="stylesheet">
	<script>
	</script>
</head>

<body>
<h1>Inspect Entries:</h1>

[<a href="/admin/">Admin</a>]

<table>
	<tr>
		<th>CreatedAt</th>
		<th>UpdatedAt</th>
		<th>TechnicalName</th>
		<th>VisibleName</th>
		<th>Inspect</th>
	</tr>
{{range .}}
	<tr>
		<td align="center">1</td>
		<td align="center">1</td>
		<td align="center">1</td>
		<td align="center">1</td>
		<td align="center">1</td>
	</tr>
{{end}}
</table>


</body>
</html>